{% extends 'base.html' %}

{% block script %}
    <script>
        let details = []
        const addData = () => {
            let name = document.getElementById('name')
            let quantity = document.getElementById('quantity')
            let time_used = document.getElementById('time_used')
            const d = {"name": name.value, "quantity": quantity.value, "time_used": time_used.value}
            details = [...details, d]
            name.value = ""
            quantity.value = ""
            time_used.value = ""
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Name</h1>
    <form action="{{ url_for('search.search') }}" method="POST">
        <select name="country" id="country">
            <option value="0" label="Select a country" selected="selected">Select a country</option>
            {% for c in countries %}
                {% if c.value == country %}
                    <option value="{{ c.value }}" selected="selected">{{ c.text }}</option>
                {% else %}
                    <option value="{{ c.value }}">{{ c.text }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="text" name="name" placeholder="Device name" id="name" />
        <input type="text" name="quantity" placeholder="Quantity" id="quantity" />
        <input type="text" name="time_used" placeholder="Hours used" id="time_used" />
        <button type="submit" name="submit">Add</button>
    </form>
{% endblock %}